
@{
    ViewBag.Title = "CertInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Certificate Info</h2>
<ul>
    <li>@ViewBag.friendlyName</li>
    <li>@ViewBag.issuer</li>
    <li>@ViewBag.issuerName</li>
    <li>@ViewBag.subject</li>
    <li>@ViewBag.thumbprint</li>
</ul>